torch==2.0.1
torchvision==0.15.2
transformers==4.31.0
tokenizers>=0.12.1,<0.14
sentencepiece==0.1.99
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.41.0
deepspeed==0.9.5
numpy==1.26.4
pandas>=1.5
Pillow>=9.0
tqdm>=4.64
validators==0.35.0
einops==0.6.1
timm==0.6.13
shortuuid
